
<h2><%= t('.title') %></h2>
<%= form_with(model: @client, url: client_profile_path) do |f| %>
  <%= render "clients/shared/error_messages", resource: @client %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true %>
  </div>
  <div class="field">
    <%= f.label :industry %><br />
    <%= f.select :industry, ['飲食','製造','IT','建築','サービス','その他'] %>
  </div>
  <div class="field">
    <%= f.label :our_business %><br />
    <%= f.text_area :our_business %>
  </div>
  <div class="actions">
    <%= f.submit t('.submit') %>
  </div>
<% end %>
