<% content_for(:title, t('.title')) %>
<div class="container pt-3">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <h1 class="float-left mb-5"><%= t('.title') %></h1>
      <table class="table">
        <tr>
          <th scope="row"><%= Client.human_attribute_name(:name) %></th>
          <td><%= current_client.name %></td>
        </tr>
        <tr>
          <th scope="row"><%= Client.human_attribute_name(:industry) %></th>
          <td><%= current_client.industry %></td>
        </tr>
        <tr>
          <th scope="row"><%= Client.human_attribute_name(:our_business) %></th>
          <td><%= current_client.our_business %></td>
        </tr>
      </table>
      <%= link_to t('.edit'), edit_client_profile_path(current_client), class: 'btn btn-success float-right' %>
    </div>
  </div>
</div>