<% provide(:title, t('.title')) %>
<div class="flex justify-center items-center" >
  <div class="w-1/2 py-12 flex justify-between text-center">
  <%= button_to contractors_guest_login_path, class: "w-64 h-64 bg-blue-200 rounded-lg" do %>
    <p class='text-2xl font-bold'><%= t('.contractor') %></p>
    <p class='text-2xl font-bold'><%= t('.login') %></p>
    <p class='text-sm mt-5'><%= t('.contractor_text') %></p>
  <% end %>
  <%= button_to clients_guest_login_path, method: :post, class: "w-64 h-64 bg-red-200 rounded-lg" do %>
    <p class='text-2xl font-bold'><%= t('.client') %></p>
    <p class='text-2xl font-bold'><%= t('.login') %></p>
    <p class='text-sm mt-5'><%= t('.client_text') %></p>
  <% end %>
  </div>
</div>
