<% content_for(:title, t('.title')) %>
<div class="flex justify-center items-center" >
  <div class="w-1/3">
      <h1 class="float-left mb-5"><%= t('.title') %></h1>
      <table class="table">
        <tr>
          <th scope="row"><%= Contractor.human_attribute_name(:name) %></th>
          <td><%= current_contractor.name %></td>
        </tr>
        <tr>
          <th scope="row"><%= Contractor.human_attribute_name(:image) %></th>
          <td><%= image_tag current_contractor.image.url, size: '100x100', class: 'rounded-circle' %></td>
        </tr>
        <tr>
          <th scope="row"><%= Contractor.human_attribute_name(:public_relations) %></th>
          <td><%= current_contractor.public_relations %></td>
        </tr>
        <tr>
          <th scope="row"><%= Contractor.human_attribute_name(:portfolio) %></th>
          <td><%= current_contractor.portfolio %></td>
        </tr>
        <tr>
          <th scope="row"><%= Contractor.human_attribute_name(:study_period) %></th>
          <td><%= current_contractor.study_period %></td>
        </tr>
      </table>
      <%= link_to t('.edit'), edit_contractor_profile_path(current_contractor), class: 'btn btn-success float-right' %>
  </div>
</div>