<% provide(:title, @request.title) %>
<div class="flex justify-center items-center min-h-screen bg-gray-100 py-10">
  <div class="w-full max-w-4xl p-5 bg-white rounded-lg shadow-xl">
    <h1 class="text-3xl font-bold text-gray-800 mb-8"><%= @request.title %></h1>
    <div class="flex justify-between mb-6">
      <p class="text-sm text-gray-600">クライアント：<%= @request.client.name %>（<%= @request.client.industry %>）</p>
      <p class="text-sm text-gray-600">募集開始日：<%= @request.created_at.strftime('%Y年%m月%d日') %></p>
    </div>
    <div class="mb-8">
      <h2 class="text-xl font-semibold text-gray-700 mb-1">募集締切</h2>
      <p class="text-gray-600"><%= @request.deadline.strftime('%Y年%m月%d日') %></p>
    </div>
    <div class="mb-8">
      <h2 class="text-xl font-semibold text-gray-700 mb-1">希望納期</h2>
      <p class="text-gray-600"><%= @request.delivery_date.strftime('%Y年%m月%d日') %></p>
    </div>
    <div class="mb-8">
      <h2 class="text-xl font-semibold text-gray-700 mb-1">依頼詳細</h2>
      <p class="text-gray-600 whitespace-pre-wrap break-words tracking-wider leading-7"><%= @request.description %></p>
    </div>
    <div class="mb-16">
      <h2 class="text-xl font-semibold text-gray-700 mb-1">事業内容</h2>
      <p class="text-gray-600 whitespace-pre-wrap break-words"><%= @request.client.our_business %></p>
    </div>
    <div class="flex gap-6 mb-8">
      <% if current_contractor && !(@request.deadline_passed?) %>
        <%= render 'shared/application_button', req: @request %>
        <%= render 'favorite_button', favorite: current_contractor.favorites.find_by(request_id: @request.id), request: @request %>
      <% end %>
    </div>
    <%= render 'shared/back_button' %>
  </div>
</div>
