<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>

  <div class="mb-5">
    <%= f.label :email, class: "block text-gray-700 text-base font-bold mb-2" %>
    <%= f.email_field :email, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: form_field_error_class(resource, :email) %>
    <%= display_field_error_messages(resource, :email) %>

  </div>

  <%= f.submit submit, class: 'bg-blue-500 hover:bg-blue-700 text-white text-center font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline cursor-pointer mb-3' %>
<% end %>