<div class="mb-12 shadow-md rounded-md">
  <% reqs.each do |req| %>
    <div class="grid grid-cols-4 gap-6 border-solid border-2 border-slate-100 p-6 hover:bg-sky-200 transition duration-150 ease-in-out">
      <% if req.deadline_passed? %>
        <div class="col-span-1 flex items-center justify-center bg-slate-500 rounded-lg text-white h-24 w-24">
          募集終了
        </div>
      <% else %>
        <div class="col-span-1 bg-cyan-400 rounded-lg text-white flex items-center justify-center h-24 w-24">
          <p class="text-center m-2">
            募集中<br>
            <%= "あと#{req.days_left}日" %>
          </p>
        </div>
      <% end %>
      <div class="col-span-3 pl-4">
        <%= link_to clients_request_path(req) do %>
          <p class="font-bold text-lg tracking-wide text-blue-600 mb-2"><%= req.title %></p>
        <% end %>
        <p class="mb-2">希望納期：<%= req.delivery_date.strftime("%Y年 %m月 %d日") %></p>
        <p class="mb-2"><%= req.client.name %></p>
        <p>現在の応募者数：<%= req.applicants.count %>名</p>
      </div>
    </div>
  <% end %>
</div>