<% provide(:title, t('.title')) %>
<div class="w-96 mx-auto py-36 min-h-full">
  <h2 class="text-3xl pb-10 font-bold"><%= t('.page_title') %></h2>
  <p class="mb-2 text-sm text-gray-600"><%= t('.text1') %></p>
  <p class="mb-8 text-sm text-gray-600"><%= t('.text2') %></p>
  <table class="mb-8">
    <tbody>
      <tr class="h-12">
        <td class="text-right pr-5"><%= Contact.human_attribute_name :name %></td>
        <td><%= @contact.name %></td>
      </tr>
      <tr class="h-12">
        <td class="text-right pr-5"><%=  Contact.human_attribute_name :email %></td>
        <td><%= @contact.email %></td>
      </tr>
      <tr class="h-12">
        <td class="text-right pr-5"><%=  Contact.human_attribute_name :subject %></td>
        <td><%= @contact.subject %></td>
      </tr>
      <tr class="h-12">
        <td class="text-right pr-5"><%=  Contact.human_attribute_name :message %></td>
        <td><%= @contact.message %></td>
      </tr>
    </tbody>
  </table>
  <div class="flex gap-16">
    <%= form_with model: @contact, url: back_contacts_path, data:{ turbo: false }  do |f| %>
      <div><%= f.submit t('.back'), class: 'bg-gray-400 hover:bg-gray-600 text-white text-center font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline cursor-pointer' %></div>
    <% end %>
    <%= form_with model: @contact, data:{ turbo: false } do |f| %>
      <div><%= f.submit t('.submit'), class: 'bg-blue-500 hover:bg-blue-700 text-white text-center font-bold py-2 px-10 rounded focus:outline-none focus:shadow-outline cursor-pointer' %></div>
    <% end %>
  </div>
</div>