<% provide(:title, t('.title')) %>
<div class="flex justify-center items-center" >
  <div class="w-1/3 py-12">
    <h2 class="text-3xl pb-10 font-bold"><%= t('.page_title') %></h2>
    <p class="mb-2 text-sm text-gray-600"><%= t('.text1') %></p>
    <p class="mb-8 text-sm text-gray-600"><%= t('.text2') %></p>
    <dl class="mb-8 grid grid-cols-1 gap-4 my-6">
      <div class="flex flex-col mb-3">
        <dt class="text-sm text-gray-700 py-3"><%= Contact.human_attribute_name :name %></dt>
        <dd class="text-sm text-gray-900 bg-gray-100 p-2 rounded-md"><%= @contact.name %></dd>
      </div>
      <div class="flex flex-col mb-3">
        <dt class="text-sm text-gray-700 py-3"><%= Contact.human_attribute_name :email %></dt>
        <dd class="text-sm text-gray-900 bg-gray-100 p-2 rounded-md"><%= @contact.email %></dd>
      </div>
      <div class="flex flex-col mb-3">
        <dt class="text-sm text-gray-700 py-3"><%= Contact.human_attribute_name :subject %></dt>
        <dd class="text-sm text-gray-900 bg-gray-100 p-2 rounded-md"><%= @contact.subject %></dd>
      </div>
      <div class="flex flex-col mb-3">
        <dt class="text-sm text-gray-700 py-3"><%= Contact.human_attribute_name :message %></dt>
        <dd class="text-sm text-gray-900 bg-gray-100 p-2 rounded-md"><%= @contact.message %></dd>
      </div>
    </dl>
    <div class="flex gap-16">
      <%= form_with model: @contact, url: back_contacts_path, data:{ turbo: false }  do |f| %>
        <div><%= f.submit t('.back'), class: 'bg-gray-400 hover:bg-gray-600 text-white text-center font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline cursor-pointer' %>
        </div>
      <% end %>
    <%= form_with model: @contact, data:{ turbo: false } do |f| %>
      <div><%= f.submit t('.submit'), class: 'bg-blue-500 hover:bg-blue-700 text-white text-center font-bold py-2 px-10 rounded focus:outline-none focus:shadow-outline cursor-pointer' %>
      </div>
    <% end %>
    </div>
  </div>
</div>