<h2><%= @contact.name %><%= t('.name_add') %> </h2>

<p><%= t('.email') %><%= @contact.email %></p>
<p><%= t('.contact_subject') %><%= @contact.subject %></p>
<p><%= t('.message') %></p>
<p><span style="white-space: pre-wrap;"><%= @contact.message %></span></p>

<p><%= t('.text1') %></p>
<p><%= t('.text2') %></p>

  <p> <%= t('.text3') %> </p>

