<h1 class="text-4xl font-bold tracking-wider"><%= link_to 'First Step', clients_requests_path %></h1>
<ul class="flex gap-6 items-center font-bold">
  <li><%= link_to t('.account'), edit_client_registration_path  %></li>
  <li><%= link_to t('.profile'), edit_clients_profile_path  %></li>
  <li><%= link_to t('.request'), edit_clients_request_path  %></li>
  <li><%= link_to t('.applicants'), clients_applicants_path %></li>
  <li><%= link_to t('.logout'), destroy_client_session_path ,method: :delete, data: { turbo_method: :delete } %></li>
</ul>