<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= yield(:title) %> - First Step</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%# config/importmap.rbに記載されたものを読み込んでる %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <main class="grid grid-rows-base-layout grid-cols-base-layout min-h-screen">

      <%= render 'layouts/header' %>
      <%= render 'layouts/flash_messages' %>
      <%= yield %>
      <%= render 'layouts/footer' %>
    </main>
  </body>
</html>
